{% extends "layout.twig" %}
{% block content %}

<section class="page default">
	<div class="page-content">
		<div class="profile-header">
			{{widget('profile', 'header-profile1', { 'profileType':'phone','phone':'profile'})|raw}}
			{{widget('profile', 'header-profile2', { 'profileType':'address','address':'profile'})|raw}}
		</div>
		<div class="canvas">
			{{zone('main')|raw}}
		</div>
	</div>
</section>

{% endblock %}