{% extends "layout.twig" %}
{% block content %}

<section class="page home">
	<div class="page-content">
		<div class="profile-header">
			{{widget('profile', 'header-profile1', {'profileType':'email','email':'profile'})|raw}}
			{{widget('profile', 'header-profile2', { 'profileType':'address','address':'profile'})|raw}}
		</div>
		<div class="canvas">
			{{widget('feature', 'featurehome', {"header": "profile","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '0','showBtn': false})|raw}}
			{{zone('main')|raw}}
		</div>
	</div>
</section>

{% endblock %}