<!-- Footer Include !-->
<div class="bottom-profile clearfix">
	<div class="wrapper">
		{{widget('profile', 'bottomsocialicons', { 'profileType':'socialicons','socialicons':'profile'})|raw}}
	</div>
</div>

<footer class="template-footer">
	<div class="wrapper">
		{{widget('profile', 'footercopyright', { 'profileType':'form','form':'profile'})|raw}}
	</div>
</footer>

